links {
    font-family: monospace;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    font-size: 2em
  }



links:hover {
    color: lavenderblush
}

links:active {
    color: mediumaquamarine
}