html {
    font-size: 100%;
}

.background {
    background-image: url("https://github.com/alvrnicu/myImages/blob/main/Professional%20Headshot%20Smaller.png?raw=true");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 200px;
    height: 225px;
    border: solid 2px black;
  }

.links {
    font-family: monospace;
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    font-size: 2em
  }

.navbar {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 100;
  }

#nav .navbar {
    background-color: #101010;
  }
  
.navbar:any-link {
    display: block;
    text-decoration: none;
  }